button {
  height: 50px;
  width: 130px;
  background-color: #ff0062;
  text-decoration: none;
  border-radius: 5px;
}

button a {
  text-decoration: none;
  color: #fcfaf0;
  font-family: "Lunasima";
  font-size: 16px;
  font-weight: 700;
}
