@media (max-width: 770px) {
  .daily_card {
    background-color: #d2cccc;
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 10px;
    padding: 10px 0 10px 10px;
    /* border: 1px solid var(--border-color); */

    height: minmax(200px, min-content);
  }

  dialog {
    border: none;
    background-color: white;
    color: black;

    animation: flyIn 0.5s ease-in-out;
  }
  dialog {
    padding: 1rem;
    margin: auto;
    width: min(90vw, 600px);
  }

  dialog form {
    margin: 0 1rem 2rem 0;
  }

  .starter p,
  p {
    font-size: 16px;
  }

  /* Buttons */

  dialog + button {
    width: max-content;
    margin-left: 1rem;
  }
  button:active {
    position: relative;
    box-shadow: none;
    translate: 2px 2px;
  }
  .close-dialog {
    height: 55px;
    width: 184px;
    background-color: #3b3b3b;
    text-decoration: none;
    border-radius: 5px;
    color: #fcfaf0;
    font-family: "Lunasima";
    font-size: 16px;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .close-luk {
    height: 55px;
    width: 154px;
    background-color: #038377;
    text-decoration: none;
    border-radius: 5px;
    color: #fcfaf0;
    font-family: "Lunasima";
    font-size: 16px;
    font-weight: 700;
    margin-right: 27rem;
    margin-top: 1rem;
  }
  .read-more {
    color: #fcfaf0;
    font-family: "Lunasima";
    font-size: 16px;
  }
  .read {
    margin-right: 1rem;
    color: #402f32;
  }
  .news_card > * {
    padding: 0 1rem;
  }
  .hvis {
    margin-top: 2rem;
  }

  /* The background for the modal dialog box */
  ::backdrop {
    backdrop-filter: blur(5px);
  }

  /* Keyframes */
  @keyframes flyIn {
    0% {
      scale: 0;
      opacity: 0;
    }
    100% {
      scale: 1;
      opacity: 0.95;
      /* rotate: 360deg; */
    }
  }
}

@media (min-width: 770px) {
  .daily_card {
    background-color: #d2cccc;
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 10px;
    padding: 10px 0 10px 10px;
    /* border: 1px solid var(--border-color); */
    border-radius: var(--border-radius);
    height: minmax(200px, min-content);
  }

  dialog {
    border: none;
    background-color: white;
    color: black;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); */
    /* filter: drop-shadow(0px 0px 10px rgba(243, 61, 0, 1)); */
    /* border: 3px solid rgba(243, 61, 0, 1); */
    padding: 7rem;
    margin: 6rem;
    width: clamp(42ch, 80%, 857px);
    animation: flyIn 0.5s ease-in-out;
  }

  dialog form {
    margin: 0 1rem 2rem 0;
  }
  .starter,
  .niveauet {
    margin: 2rem;
  }
  .starter p,
  p {
    font-size: 16px;
  }

  /* Buttons */

  dialog + button {
    width: max-content;
    margin-left: 1rem;
  }
  button:active {
    position: relative;
    box-shadow: none;
    translate: 2px 2px;
  }
  .close-dialog {
    height: 55px;
    width: 184px;
    background-color: #3b3b3b;
    text-decoration: none;
    border-radius: 5px;
    color: #fcfaf0;
    font-family: "Lunasima";
    font-size: 16px;
    font-weight: 700;
    margin-top: 3rem;
  }
  .close-luk {
    height: 55px;
    width: 154px;
    background-color: #038377;
    text-decoration: none;
    border-radius: 5px;
    color: #fcfaf0;
    font-family: "Lunasima";
    font-size: 16px;
    font-weight: 700;
    margin-right: 43rem;
    margin-top: 1rem;
  }
  .read-more {
    color: #fcfaf0;
    font-family: "Lunasima";
    font-size: 16px;
  }
  .news_card > * {
    padding: 0 1rem;
  }
  .hvis {
    margin-top: 2rem;
  }

  /* The background for the modal dialog box */
  ::backdrop {
    backdrop-filter: blur(5px);
  }
  .read {
    margin-right: 41rem;
    color: #402f32;
  }
  /* Keyframes */
  @keyframes flyIn {
    0% {
      scale: 0;
      opacity: 0;
    }
    100% {
      scale: 1;
      opacity: 0.95;
      /* rotate: 360deg; */
    }
  }
}
