.daily_card {
  background-color: #d2cccc;
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 10px;
  padding: 10px 0 10px 10px;
  /* border: 1px solid var(--border-color); */
  border-radius: var(--border-radius);
  height: minmax(200px, min-content);
}
.daily_text {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 10px;
}
.daily_text h2 {
  background-color: #000000;
  color: var(--farver-font);
  padding: calc(1.1rem / 1.5) 0 calc(1.1rem / 2) 1rem;
  margin: 0 0 0.5rem 0;
}
.daily_text p {
  padding-right: 2rem;
  margin: 0 0 1rem 0;
}
.daily_text .cta_btn {
  justify-self: left;
}

dialog {
  border: none;
  background-color: white;
  color: black;
  /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); */
  /* filter: drop-shadow(0px 0px 10px rgba(243, 61, 0, 1)); */
  /* border: 3px solid rgba(243, 61, 0, 1); */
  padding: 7rem;
  margin: 6rem;
  width: clamp(42ch, 80%, 857px);
  animation: flyIn 0.5s ease-in-out;
}
dialog h2 {
  margin: 1.5rem 0 1rem 0;
}
dialog form {
  margin: 0 1rem 2rem 0;
}
.starter,
.niveauet {
  margin: 2rem;
}
.starter p,
p {
  font-size: 16px;
}

/* Buttons */

dialog + button {
  width: max-content;
  margin-left: 1rem;
}
button:active {
  position: relative;
  box-shadow: none;
  translate: 2px 2px;
}
.close-dialog {
  height: 55px;
  width: 184px;
  background-color: #3b3b3b;
  text-decoration: none;
  border-radius: 5px;
  color: #fcfaf0;
  font-family: "Lunasima";
  font-size: 16px;
  font-weight: 700;
  margin-top: 3rem;
}
.close-luk {
  height: 55px;
  width: 154px;
  background-color: #038377;
  text-decoration: none;
  border-radius: 5px;
  color: #fcfaf0;
  font-family: "Lunasima";
  font-size: 16px;
  font-weight: 700;
  margin-right: 43rem;
}
.read-more {
  color: #fcfaf0;
  font-family: "Lunasima";
  font-size: 16px;
}
.news_card > * {
  padding: 0 1rem;
}
.hvis {
  margin-top: 2rem;
}

/* The background for the modal dialog box */
::backdrop {
  backdrop-filter: blur(5px);
}

/* Keyframes */
@keyframes flyIn {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 0.95;
    /* rotate: 360deg; */
  }
}
