@media (max-width: 770px) {
  /*hero*/
  .h1line {
    height: 2px;
    background-color: #038377;
  }

  /* den grøne line*/
  .line {
    height: 3px;
    background-color: #038377;
  }
  /*1 grid 1*/
  .h1-tango {
    display: grid;
    grid-template-rows: 84px 199px 268px 1fr;
    grid-template-columns: 39px 1fr 39px;
    margin: 53.5px;
  }
  .h1 {
    grid-row: 1/2;
    grid-column: 2;
    justify-self: center;
  }
  .p-tango {
    grid-row: 2;
    grid-column: 2;
  }
  .forsidesvg-1 {
    grid-row: 3;
    grid-column: 2;
    width: 50%;
    margin-left: 130px;
  }

  /*svg 1*/
  .svg1 {
    width: 314%;
    height: 314%;
  }

  .Teachingclass-img {
    width: 436px;
    height: 334px;
    border-radius: 30px;
  }
}
.Teachingclass2 {
  grid-row: 4;
  grid-column: 2;
  justify-self: center;
}

/*1 grid 2*/
.h2-tango {
  display: grid;
  grid-template-rows: 54px 104px 90px 1fr;
  grid-template-columns: 39px 1fr 39px;
  margin: 53.5px;
}
.h2-tango {
  display: grid;
  grid-template-columns: 39px 1fr 39px;
  margin: 53.5px;
}

.forsidesvg-2 {
  width: 197%;
  height: 91%;
  margin-left: 60px;
  margin-bottom: 13rem;
}

h2 {
  grid-row: 1/2;
  grid-column: 2;
  justify-self: center;
}
button {
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
}
.Teachingclass3 {
  grid-row: 4;
  grid-column: 2;
  justify-self: center;
}

/*SVG*/
.svg-1 {
  width: 50%;
  grid-row: 3;
  grid-column: 2;
  justify-self: center;
}
.svg-2-forside {
  width: 23%;
  padding-top: 1rem;
}

@media (min-width: 770px) {
  /*hero*/
  .h1line {
    height: 2px;
    background-color: #038377;
  }
  /**/

  .svg-noder {
    width: 150px;
  }

  /* den grøne line*/
  .forsidesvg-1 {
    width: 50%;
    height: 100%;
    grid-row: 3;
    grid-column: 1;
    margin-left: 11rem;
  }
  /*1 grid 1*/
  .h1-tango {
    display: grid;
    grid-template-rows: 114px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 53.5px;
  }
  .h1 {
    grid-row: 1/2;
    grid-column: 1;
    justify-self: center;
  }
  .p-tango {
    grid-row: 1;
    grid-column: 1;
    margin-top: 11rem;
  }

  .p-tango-desk {
    grid-row: 1;
    grid-column: 2;
    margin-top: 12rem;
    margin-left: 4rem;
  }

  /*svg 1*/
  .svg1 {
    width: 314%;
    height: 314%;
  }
  .Teachingclass-img {
    width: 636px;
    height: 534px;
    border-radius: 30px;
  }

  .Teachingclass2 {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
  }

  /*1 grid 2*/
  .h2-tango {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 53.5px;
  }
  .h2-svg {
    grid-row: 1;
    grid-column: 1;
    padding-top: 2rem;
  }
  .forsidesvg-2 {
    width: 30%;
    height: 170%;
    margin-left: 180px;
    grid-row: 1;
    display: inline;
  }

  h2 {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    margin-top: 3rem;
  }
  .h2-desk {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
  }
  button {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    margin-top: 19rem;
  }
  .Teachingclass3 {
    grid-row: 1;
    grid-column: 1;
  }

  .Teachingclass1 {
    grid-row: 1;
    grid-column: 2;
  }

  /*SVG*/
  .svg-1 {
    width: 50%;
    grid-row: 4;
    grid-column: 1;
    justify-self: center;
  }
  .svg-2-forside {
    width: 23%;
    padding-top: 1rem;
  }
}
