body {
  background-color: #fcfaf0;
}

* {
  margin: 0;
  padding: 0;
}
/*font*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Lunasima font for the site menu */
@font-face {
  font-family: "Lunasima";
  src: url("../font/Lunasima/Lunasima-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lunasima";
  src: url("../font/Lunasima/Lunasima-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* Apply Lunasima to the menu */
.menu,
.menu a,
.menu li,
.menu ul {
  font-family: "Lunasima";
  font-weight: 700;
  font-size: 25px;
}
footer a {
  text-decoration: none;
  font-family: "Lunasima";
  font-size: 13px;
}
footer li {
  font-family: "Lunasima";

  font-weight: 250;
}

footer ol,
footer ul {
  font-family: "Lunasima";
  font-size: 13px;
  font-style: normal;
}
