body {
  background-color: #fcfaf0;
}

* {
  margin: 0;
  padding: 0;
}
button {
  box-shadow: none;
}
a {
  box-shadow: none;
}
@media (max-width: 800px) {
  .dansende-grafik {
    width: 100%;
    height: 145px;
    background-image: url("../svg/Tangodancefooter.svg");
    background-repeat: no-repeat;
    background-size: 99px;
    background-position: 0 0;
    animation-name: moving;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 56px;
  }

  @keyframes moving {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  @media (max-width: 770px) {
  }
}
@media (min-width: 800px) {
  .dansende-grafik {
    width: 100%;
    height: 145px;
    background-image: url("../svg/Tangodancefooter.svg");
    background-repeat: no-repeat;
    background-size: 99px;
    background-position: 0 0;
    animation-name: moving;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 80px;
  }

  @keyframes moving {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
}
