@media (max-width: 770px) {
  h1,
  h2 {
    display: grid;
    justify-content: center;
    grid-column: 2;
  }

  svg {
    width: 57%;
    height: 77%;
    grid-column: 3;
  }
  .svg1 {
    grid-column: 2;
  }

  .svg-begynderhold {
    display: grid;
    grid-template-columns: 144px 202px 134px;
  }
  .tango {
    display: grid;
    grid-template-columns: 39px 1fr;
    grid-template-rows: 1fr;
  }
  h1 {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .vedeo {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
    width: 436px;
    height: 334px;
    border-radius: 30px;
  }

  .h2-tango {
    display: grid;
    grid-template-rows: 85px 147px 336px 1fr;
    grid-template-columns: 39px 1fr 39px;
    margin: 53.5px;
  }
  .p-begynderholdet {
    grid-row: 2;
    grid-column: 2;
  }
  .teachingclass9 {
    grid-row: 3;
    grid-column: 2;
    justify-self: center;
    width: 436px;
    height: 334px;
    border-radius: 30px;
  }

  .h3-tango {
    display: grid;
    grid-template-rows: 85px 82px 176px 332px;
    grid-template-columns: 39px 1fr 39px;
    margin: 53.5px;
  }
  .aktivitet {
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-rows: 35px 35px 35px 35px;
  }
  .sko {
    width: 72%;
    margin-left: 20px;
    grid-row: 5;
    grid-column: 2;
  }
  .med {
    display: grid;
    grid-template-rows: 79px 285px 300px 125px 85px;
    grid-template-columns: 39px 1fr 39px;
    margin: 53.5px;
  }
  .med h3 {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    justify-content: center;
  }
  .Partner {
    grid-row: 2;
    grid-column: 2;
    list-style-type: none;
    display: grid;
    grid-template-rows: 35px 35px 35px 35px 44px;
  }
  .teachingclass2 {
    grid-row: 4;
    margin-left: 2rem;
    width: 436px;
    height: 334px;
    border-radius: 30px;
  }
  .tid {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 3;
    grid-column: 2;
  }
  .tid h3 {
    display: grid;
    justify-content: center;
  }
  .tid ol {
    grid-row: 5;
    grid-column: 2;
    list-style-type: none;
  }
  .Pris {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 4;
    grid-column: 2;
  }

  .Pris h3 {
    grid-row: 5;
    grid-column: 1;
    display: grid;
    justify-content: center;
  }
  .Pris-p {
    grid-row: 2;
    grid-column: 2;
  }
  .Pris button {
    grid-row: 3;
    grid-column: 2;
    justify-self: center;
    border: none;
    border-radius: 0;
    background: none;
    padding: 0;
  }
  .Pris button a {
    color: #000000;
    font-size: 16px;
  }

  ol {
    font-family: "Lunasima";

    font-size: 16px;
  }
  .dansende-grafik {
    width: 100%;
    height: 145px;
    background-image: url("../svg/Tangodancefooter.svg");
    background-repeat: no-repeat;
    background-size: 99px;
    background-position: 0 0;
    animation-name: moving;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 140px;
  }

  @keyframes moving {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
}

@media (min-width: 770px) {
  h1,
  h2 {
    display: grid;
    justify-content: center;
    grid-column: 2;
  }

  svg {
    width: 264%;
    height: 136%;
    grid-column: 4;
    margin: -2rem;
  }
  .svg1 {
    grid-column: 4;
  }

  .svg-begynderhold {
    display: grid;
    grid-template-columns: 133px 514px 118px;
  }
  .tango {
    display: grid;
    grid-template-columns: 39px 1fr;
    grid-template-rows: 1fr 508px;
  }
  h1 {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .vedeo {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;

    width: 600px;
    height: auto;
    margin-bottom: 40px;
    border-radius: 30px;
  }

  .h2-tango {
    display: grid;
    grid-template-rows: 85px 147px 239px;
    grid-template-columns: 39px 1fr 523px 39px;
    margin: 53.5px;
  }
  .p-begynderholdet {
    grid-row: 2;
    grid-column: 3;
  }
  .p-begynderholdet-2 {
    grid-row: 2;
    grid-column: 2;
  }
  .teachingclass9 {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    width: 536px;
    height: 434px;
    border-radius: 30px;
  }

  .h3-tango {
    display: grid;
    grid-template-rows: 85px 121px 268px;
    grid-template-columns: 124px 522px 582px 89px;
    margin: 53.5px;
  }
  .aktivitet {
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-rows: 35px 35px 35px 35px;
  }
  .sko {
    width: 72%;

    grid-row: 5;
    grid-column: 2;
  }
  .med {
    display: grid;
    grid-template-rows: 79px 290px 114px 85px;
    grid-template-columns: 1fr 57px 711px;
    margin: 53.5px;
  }
  .med h3 {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    justify-content: center;
  }
  .Partner {
    grid-row: 2;
    grid-column: 1;
    list-style-type: none;
    display: grid;
    grid-template-rows: 35px 35px 35px 39px 56px;
  }
  .teachingclass2 {
    grid-row: 1;
    margin-left: 2rem;
    grid-column: 3;
    width: 536px;
    height: 434px;
    border-radius: 30px;
  }
  .aktivitet li {
    font-family: "Lunasima";
    font-size: 20px;
  }
  .tid {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1;
    grid-column: 3;
  }
  .tid h3 {
    margin-bottom: 3rem;
    display: grid;
    justify-content: center;
  }
  .tid ol {
    grid-row: 5;
    grid-column: 2;
    list-style-type: none;
  }
  .Pris {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 3;
    grid-column: 3;
  }

  .Pris h3 {
    grid-row: 5;
    grid-column: 1;
    display: grid;
    justify-content: center;
  }
  .Pris-p {
    display: grid;
    grid-template-rows: 47px;
  }

  .Pris button {
    border: none;
    margin-top: 1rem;
    background: none;
  }

  .Pris button a {
    color: #000000;
    font-size: 26px;
  }
  ol {
    font-family: "Lunasima";

    font-size: 20px;
  }
}
