 
/* Mobil */
@media (max-width: 770px) {
 .tilmeldbutton {
    grid-row: 3;
    grid-column: 2;
    justify-self: center;
    margin-left: 150px;
    margin-bottom: 120px;
    color:#FCFAF0;
    font-weight: bold;
  }

  h1 {
    margin-top: 45px;
    margin-bottom: 10px;
  ;
   
    font-style: normal;
    text-align: center;
    ;
  }
  
  h2 {
    margin-bottom: 45px;
   
    font-style: normal;
    text-align: center;
 
  }

  p {
    color: #001A18;
  
    margin-left: 53px;
    margin-right: 53px;
    margin-bottom: 1.5rem; /* luft under hvert afsnit */ 
   }

  .lastlineptext {
    color: #001A18;
   ;
    margin-bottom: 30px;
  }

  .accordiongreen {
  width: 100px;   
  height: auto;   /* bevarer proportioner */
  margin-left: 160px;
}

  .tangodansere {
  width: 70px; /* Gør billedet mindre, prøv forskellige værdier */
  border-radius: none;
  margin-left: 350px;
}


/* img {
  width: 300px;   
  height: auto;   /* bevarer proportioner */
  /* margin-left: 53px;
  margin-right: 53px;
  margin-bottom: 50px;
} */


.imgmilonga {
  width: 300px;   
  height: auto;   /* bevarer proportioner */
  margin-left: 53px;
  margin-right: 53px;
  margin-bottom: 50px;
}

.playmusic {
  width: 100px;   
  height: auto;   /* bevarer proportioner */
  margin-left: 160px;
  margin-bottom: 50px;
}

.teaching-wrapper {
  position: relative;   /* VIGTIGT */
  width: fit-content;   /* passer til billedet */
}

.imgteaching1 {
  display: block;
  width: 300px;
  height: auto;
  margin-left: 53px;
  margin-right: 53px;
  margin-bottom: 50px;
}

.noder {
  position: absolute;
  top: 60%;
  left: 73%;
  transform: translate(-50%, -50%);
  width: 120px;       /* justér størrelse */
  z-index: 2;         /* sikrer at den ligger ovenpå */

}
}
@media (min-width: 770px) {
  
}