@media (max-width: 600px) {
  main {
    /* margin: 0px, 53px; */
    max-width: 300px;
    margin: 0 auto;
  }
  .grid1 {
    display: block;
  }
}

h1 {
  text-align: center;
  justify-content: center;
  margin-bottom: 45px;
}
.underviser-navn {
  line-height: 2;
}
.roseimg {
  max-width: 168px;
  display: flex;
  margin: auto;
  margin: 45px 0;
}
.img {
  max-inline-size: 100%;
}
.img-t1 {
  object-fit: cover;
  /* margin: 0 35px;
  max-width: 300px; */
  display: flex;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  max-inline-size: 100%;
}
.img1 {
  object-fit: cover;
  max-width: 255px;
  max-inline-size: 100%;
  display: flex;
  margin: auto;
  border-radius: 30px;
  margin-top: 70px;
  margin-bottom: 44px;
}

h2 {
  margin-bottom: 40px;
}
.CV {
  background-color: #b4d7cd;
  border-radius: 30px;
  padding: 35px 50px;
  margin-top: 53px;
  margin-bottom: 28px;
}
p {
  line-height: 140%;
}
h3 {
  margin-bottom: 15px;
  text-align: center;
}
.cv-list {
  line-height: 140%;
}
.small-text {
  font-size: 14px;
  line-height: 30px;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
a {
  color: #001a18;
}
.last {
  margin-top: 10px;
}
@media (min-width: 650px) {
  .body {
    max-width: 1260px;
    margin: auto;
    padding: 0 24px;
  }

  .grid1 {
    display: grid;
    grid-template-columns: minmax(320px, 1fr) minmax(420px, 1.4fr);
    gap: 40px;
    align-items: center;
    padding-inline: clamp(24px, 5vw, 80px);
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    /* padding: 0 112px; */
  }

  .right img {
    width: 100%;
    max-width: 740px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    justify-self: end;
  }
  .img-t1 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* .teacher {
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    gap: 60px;
    align-items: center;
    padding-left: 90px;
    padding-right: 80px;
  } */
  .teacher {
    display: grid;
    grid-template-columns:
      minmax(220px, 1fr)
      minmax(0, 1.5fr)
      minmax(220px, 1fr);
    gap: 60px;
    align-items: center;
    padding: 0 80px 0 90px;
  }
}
