h3,
h2 {
  color: #402f32;
}

@media (max-width: 800px) {
  main {
    /* margin: 0px, 53px; */
    max-width: 300px;
    margin: 0 auto;
  }
  .CV {
    padding: 35px 50px;
    margin-top: 53px;
    margin-bottom: 28px;
  }
  .grid1 {
    display: block;
  }
  .roseimg {
    max-width: 168px;
    display: flex;
    margin: auto;
    margin: 45px 0;
  }

  .CV {
    line-height: 1.8;
  }

  .dansende-grafik {
    width: 100%;
    height: 145px;
    background-image: url("../svg/Tangodancefooter.svg");
    background-repeat: no-repeat;
    background-size: 99px;
    background-position: 0 0;
    animation-name: moving;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 140px;
  }

  @keyframes moving {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
}
h1,
h2,
h3 {
  font-family: playfair;
}
h1 {
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 45px;
}
.underviser-navn {
  line-height: 2;
}
.left {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.img-t1 {
  object-fit: cover;
  /* margin: 0 35px;
  max-width: 300px; */
  display: flex;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  max-inline-size: 100%;
}
.img1 {
  object-fit: cover;
  max-width: 255px;
  max-inline-size: 100%;
  display: flex;
  margin: auto;
  border-radius: 30px;
  margin-top: 70px;
  margin-bottom: 44px;
}

h2 {
  margin-bottom: 40px;
}

ul {
  list-style: none;
}
.CV {
  background-color: #b4d7cd;
  border-radius: 30px;
}

h3 {
  margin-bottom: 15px;
  text-align: center;
}

.underviser-navn {
  font-family: lunasima;
}
.cv-list {
  /* margin-top: 10px; */

  font-family: lunasima;
  font-weight: 200;
  /* line-height: 1.4; */
}
.small-text p {
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
a {
  color: #001a18;
}
.last {
  margin-top: 10px;
}
@media (min-width: 800px) {
  .body {
    max-width: 1260px;
    margin: auto;
    padding: 0 24px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
    font-weight: semi-bold;
    color: #402f32;
  }

  .roseimg {
    margin-top: 20px;
    width: 180px;
  }
  .grid1 {
    display: grid;
    grid-template-columns: minmax(320px, 1fr) minmax(420px, 1.4fr);
    gap: 40px;
    align-items: center;
    padding-inline: clamp(24px, 5vw, 80px);
    padding-bottom: 50px;
    margin-top: 90px;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    /* padding: 0 112px; */
  }

  .right img {
    width: 100%;
    max-width: 740px;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
    justify-self: end;
  }
  .img-t1 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* .teacher {
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    gap: 60px;
    align-items: center;
    padding-left: 90px;
    padding-right: 80px;
  } */
  .teacher {
    display: grid;
    grid-template-columns:
      minmax(220px, 1fr)
      minmax(0, 1.5fr)
      minmax(220px, 1fr);
    gap: 60px;
    align-items: center;
    padding: 0 80px 0 90px;
    margin-bottom: 20px;
  }
  .CV {
    padding: 35px 50px;
    margin-top: 20px;
    padding-bottom: 60px;
    margin-bottom: 20px;
    font-weight: 450;
  }
  li {
    font-size: 18px;
  }

  .dansende-grafik {
    width: 100%;
    height: 145px;
    background-image: url("../svg/Tangodancefooter.svg");
    background-repeat: no-repeat;
    background-size: 99px;
    background-position: 0 0;
    animation-name: moving;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 238px;
  }

  @keyframes moving {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
}
